# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?

/CustomsConsultancy.Admin.Api/bin/Debug/net6.0
/CustomsConsultancy.Admin.Api/obj
*.vsidx
/.vs/CustomsConsultancy/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
