.regular-text {
   color: black
}

.emphazised-text {
   color: orange
}

.flex-display {
   display: flex;
   flex-direction: column;
}

.bolded {
   color: black;
   font-weight: bolder;
}

.regular-text-lighter {
   font-weight: lighter;
   color: darkblue
}

.video-text {
   text-align: justify;
   padding-left: 10px;
   font-size: 1.5rem;
}