.back {
   background: url(src/assets/img/Home3.png) no-repeat;
   background-size: cover;
   width: 100%;
   height: 90%;
   display: flex;
}

.home-text {
   display: flex;
   flex-direction: column;
   align-self: center;
   border: 2px solid white;
   width: 40rem;
   word-break: break-all;
   margin-left: 6rem;
   font-family: 'Andika', sans-serif;
   font-size: 23px;
}

.blue-text {
   font-family: 'Bebas Neue';
   color: blue;
}

.yellow-text {
   font-family: 'Bebas Neue';
   color: yellow;
}

.global-font {
   font-family: 'Bebas Neue';
}